table {
  width: 98%;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

thead,
tr {
  background-color: #eee;
  text-align: center;
}

td {
  /* border: solid 1px black; */
  text-align: center;
  background-color: #eee;
}

.grid {
  height: 85vh;
  margin: 100px 50px 20px 20px;
  padding: 5px;
  display: grid;
  gap: 1 rem;
  border-radius: 10px;
}

.card {
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  background-color: #fafafa;
  line-height: 24px;
  margin-bottom: 30px;
}

.btn-delete {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

.txtAlignR {
  text-align: left;
  width: 300px;
}

tr.order,
.order tr,
.order td {
  /* border: solid 1px black; */
  background-color: #ddd;
}
tr.order > td:first-child {
  border: solid 1px rgb(78, 78, 78);
}

.addOrSub {
  cursor: pointer;
}

.cartItem img {
  height: 110px;
  width: auto;
}

.cartItem td:first-child {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.cartItem td:first-child div {
  background-color: white;
  border: solid 3px #eee;
  border-radius: 10px;
}
